$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-btn: #219ebc;
$color-btn-light: #8ecae6;

$color-comment: #a4c3b2;
$color-comment-dark: #6b9080;
$color-comment-light: #f6fff8;

$color-body: #0a0908;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
