.comments {
  color: $color-white;
  width: 95vw;
  margin: 0 auto;
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &__card {
    width: 45rem;
    // margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(
      to top right,
      rgba($color-comment, 0.8),
      rgba($color-comment-dark, 0.8)
    );
    border-radius: 1rem;
    box-shadow: 0 0 3rem $color-black;
    overflow: hidden;
    &-header {
      font-size: 2rem;
      font-weight: 500;
      span {
        color: $color-primary;
      }
    }
    &-body {
      margin: 1rem 0;
      font-size: 1.6rem;
    }
    &-title {
      font-weight: 500;
      line-height: 1.4;
      text-transform: capitalize;
      span {
        color: $color-primary;
      }
    }
    &-description {
      line-height: 1.2;
      font-weight: 400;
      margin-top: 0.4rem;
      &::first-letter {
        text-transform: uppercase;
      }
      span {
        color: $color-primary;
      }
      p {
        margin-top: .2rem;
        line-height: 1.2;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
